.ton-connect-btn {
  button {
    border-radius: $border-sm-radius;

    & > div {
      color: white;
      font-family: var(--font-sans);
    }

    svg {
      display: none;
    }

    @include themify($themes) {
      background-color: themed("button");
    }
  }
}
