.glass-card {
  background: none;
  border-radius: $border-sm-radius;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);

  @include themify($themes) {
    background-color: themed("content");
  }
}

.custom-card {
  border-color: #ebebeb;
  background-color: rgba(255, 255, 255, 0.7);

  .light & {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .dark & {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.custom-card-content {
  display: grid;
  grid-template-columns: 2fr 3.5rem 1fr;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
  position: relative;

  @media (min-width: 420px) {
    grid-template-columns: 2fr repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-rows: auto;
    gap: 20px;
    padding: 1.5rem;
  }

  &:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include themify($themes) {
      background-image: themed("arrow-next");
    }

    @media (min-width: 768px) {
      right: 30px;
    }
  }
}

.custom-card-header {
  height: var(--header-hieght);

  @media (min-width: 768px) {
    padding-right: 20px;
  }
}

.custom-card-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: auto;
  }
}

.custom-card-title {
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.custom-card-value {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  max-width: 100%;

  @media (min-width: 420px) {
    white-space: nowrap;
  }

  @media (min-width: 768px) {
    text-align: left;
  }
}

.custom-card-link {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  max-width: 100%;

  @include themify($themes) {
    color: themed("link");
  }

  @media (min-width: 768px) {
    text-align: left;
  }
}

.custom-card-list {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 2fr 3.5rem 1fr;
  grid-template-rows: auto;
  gap: 20px;

  @media (min-width: 420px) {
    grid-template-columns: 2fr repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }
}

.custom-card-list-item {
  font-size: 16px;
  font-weight: normal;

  @include themify($themes) {
    color: themed("text");
  }
}

.custom-text-like-asset-input {
  &:after, &::before {
    @include themify($themes) {
      color: #8f9fac;
      align-items: center;
      display: inline-flex;
    }
  }

  &:before {
    content: attr(data-currency-prefix);
  }
  &:after {
    content: attr(data-currency-suffix);
  }
}

.custom-slider-thumb {
  @include themify($themes) {
    &, &:before, &:after {
      content: "";
      background-color: themed("primary-text");
      border-radius: 1rem;
      width: 2px;
      height: 1rem;
      display: block;
      position: absolute;
    }
  }

  right: 0.75rem;
  transform: translate(50%);

  &:before, &:after {
    top: 0;
  }

  &:before {
    opacity: 0.32;
    right: 1rem;
  }

  &:after {
    opacity: 0.72;
    right: 0.5rem;
  }
}

.custom-vault-header {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
}
