.dot {
  border-radius: 2px;
  width: 24px;
  height: 4px;
}

.root {
  padding-top: 22px;

  :global(.slick-track) {
    display: flex;
  }

  :global(.slick-dots) {
    position: static;
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;
    height: 4px;
  }

  :global(.slick-dots li) {
    height: 4px;
    width: 24px;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  :global(.customSelect__control) {
    background: inherit;
  }

  :global(.slick-slide) {
    > div {
      > div {
        padding: 0 8px;
      }
    }

    &::after {
      background-color: hsl(var(--card-background));
    }
  }

  :global(.slick-active) {
    .dot {
      background-color: hsl(var(--accent-foreground))
    }
  }

  .dot {
    background-color: hsl(var(--accent-foreground))
  }

  :global(.customSelect__single-value) {
    color: hsl(var(--card-foreground))
  }
}

@media (min-width: 768px) {
  .root {
    padding-top: 24px;
    padding-bottom: 24px;

    :global(.slick-slide) {
      position: relative;

      &:first-child::after {
        display: none;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -24px;
        height: 104px;
        width: 1px;
      }
    }
  }
}
