$back-light: #f8f9fa;
$back-dark: #1b2025;

$content-light: #e9ecef;
$content-dark: #394652;

$sub-content-light: #dee2e6;
$sub-content-dark: #5f7589;

$primary-text-light: #212529;
$primary-text-dark: #fff;

$secondary-text-light: #000;
$secondary-text-dark: #000;

$primary-light: #4dc3d7;
$primary-dark: #a8f3ff;

$secondary-light: #9b6fff;
$secondary-dark: #a684ff;

//-----

$border-radius: 2.5rem;
$border-sm-radius: 0.75rem;
