$back-light: #f8f9fa;
$back-dark: #1b2025;

$content-light: #e9ecef;
$content-dark: #394652;

$sub-content-light: #dee2e6;
$sub-content-dark: #5f7589;

$primary-text-light: #212529;
$primary-text-dark: #fff;

$secondary-text-light: #000;
$secondary-text-dark: #000;

$primary: rgb(var(--custom-link));

$secondary: var(--custom-button);

$header-light: #fff;
$header-dark: rgba(37, 44, 51, 0.89);

$border-header-light: #ebebeb;
$border-header-dark: #38424d;

//-----

$border-radius: 2.5rem;
$border-sm-radius: 0.75rem;

$vaults-list-grid-template-columns: 2fr 1fr 1fr;
$vaults-list-grid-gap: 0.5rem;